
main {

}

.container {
  
}

// Horizontal spacing.
.body-pad {
  padding-left: var(--l-block-pad);
  padding-right: var(--l-block-pad);
}

// Vertical spacing.
.body-pad {
  padding-top: var(--l-block-pad);
  padding-bottom: var(--l-block-pad);
}
